<style>
    .tableheader table tr th {
        /* background-color: #808080;*/
        font-weight: normal;
        color: white;
        padding: 5px;
    }

    .tableheader tbody tr td {
        padding: 3px;
        padding-right: 1em;
        white-space: nowrap;
        overflow: hidden;
        /* width: 180px;*/
        height: 25px;
        text-overflow: ellipsis;
    }
</style>

<div class="wrapper">
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Login History</h3>                        
                    </div>
                    <div class="card-body">
                        <div class="tableheader">
                            <table id="tblLoginHistoryInfo" class="table table-small table-bordered table-striped" width="100%">
                                <thead style="background-color:steelblue">
                                    <tr>
                                        <th style="width:5%">Id</th>

                                        <th>User Name</th>
                                        <th>Login Time</th>
                                       @* <th>Logout Time</th>
                                        <th>Duration(Min)</th>*@
                                       @* <th>Public IP</th>*@
                                       @* <th>Latitude</th>
                                        <th>Longitude</th>*@
                                        <th>Browser</th>
                                      @*  <th>OS</th>*@
                                        <th>Device</th>
                                        <th>Action</th>
                                        <th>Action Status</th>
                                        <th>Created Date</th>

                                                                    
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@*<div class="wrapper">
    <div class="panel panel-hash">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 pull-right">
                <h5 class="pull-right"><b>Login History List</b></h5>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblLoginHistoryInfo" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Name</th>
                        <th>Login Time</th>
                        <th>Logout Time</th>
                        <th>Duration(Min)</th>
                        <th>Public IP</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Browser</th>
                        <th>OS</th>
                        <th>Device</th>
                        <th>Action</th>
                        <th>Action Status</th>

                        <th>Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>*@

<partial name="~/Views/UIComponents/_MediumModal.cshtml" />

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/LoginHistory/LoginHistory_CRUD.js"></script>
<script src="~/js/LoginHistory/LoginHistory_Datatable.js"></script>

