<div class="modal fade" id="BigModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:steelblue">                
                    <h3 id="titleBigModal" class="card-title" style="color:white">Title</h3>  
                     <button type="button" style="color:white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>  
            </div>
            <div class="modal-body" id="BigModalDiv">
            </div>           
        </div>
    </div>
</div>

