@model StartingPoint.Models.UserAccountViewModel.UserProfileCRUDViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="wrapper">
    <div class="panel panel-info">
        <div class="panel-heading"><h4><b>User Profile</b></h4></div>
        <div class="container">
            <input type="hidden" asp-for="UserProfileId" />
            <input type="hidden" asp-for="ApplicationUserId" />
            <div class="col-lg-8">
                <fieldset>
                    <partial name="~/Views/UserManagement/_ViewUserDetails.cshtml" />
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input type="button" class="btn btn-success" id="EditUserProfile" value="Edit User Profile"
                                   onclick="AddEditUserAccount(document.getElementById('UserProfileId').value)" />
                            <input type="button" class="btn btn-danger" id="ResetPassword" value="Reset Password" 
                                   onclick="ResetPasswordGeneral(document.getElementById('ApplicationUserId').value)" />
                        </div>
                    </div>
                </fieldset>
            </div>          
        </div>
    </div>
</div>

<script src="~/js/UserManagement/UserManagement_CRUD.js"></script>
