
@model StartingPoint.Models.Grade

@{
    ViewData["Title"] = "Create";
}

    <div calss="row">
        <form asp-action="AddEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradeId" />@*
            <input type="hidden" asp-for="GradeName" />
            <input type="hidden" asp-for="Section" />*@
            <div class="form-group">
                <label asp-for="GradeId" class="control-label small"></label>
                <input asp-for="GradeId" readonly="true" class="form-control form-control-sm" />
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeName" class="control-label" small></label>
                <input asp-for="GradeName" class="form-control form-control-sm" />
                <span asp-validation-for="GradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label" small></label>
                <input asp-for="Section" class="form-control form-control-sm" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info btn-sm">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>    


<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


